.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.cluster-justify-start {
    justify-content: flex-start;
}

.cluster-align-start {
    align-items: flex-start;
}

.cluster-justify-end {
    justify-content: flex-end;
}

.cluster-align-end {
    align-items: flex-end;
}

.cluster-justify-center {
    justify-content: center;
}

.cluster-align-center {
    align-items: center;
}
